<div class="product-box">
  <h1>Products Ordered!</h1>
  <p>You just ordered <strong><%= @order.quantity %>
    <%= @order.product.name %>.</strong></p>
  <p> Total Price: <strong><%= @total %></strong></p>
</div>