<div id="myCarousel" class="carousel container slide">
  <div class="carousel-inner">
            <div class="active item one"></div>
            <div class="item two"></div>
            <div class="item three"></div>
  </div>
</div>




