





<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-3">
      <div class="ind-product" style="background-image: url('<%= product.photo_check %>');background-size:100% auto;opacity: 0.9">
        <div class="ind-product-data">
          <p><%= product.name %></p>
          <p><%= product.price %></p>
          <p><%= product.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>








<i class="fa fa-github"></i>

