<h1>The Pet Exchange</h1>

<div id="my-carousel">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("dog_on_grass.jpg", alt: "dog on grass") %>
      <div class="carousel-caption">
   <h3>Are you tired of dog?</h3>
    <p>Sell "Fido" on the latest and greatest website all your friends are using.</p>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("iguana.jpg", alt: "iguana") %>
      <div class="carousel-caption">
   <h3>Want an iguana? Get it wholesale here.</h3>
    <p>Iguanas are a lot of maintenance; they must be cheap on this website.</p>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("sassy_cat.jpg", alt: "sassy cat") %>
      <div class="carousel-caption">
   <h3>Add some spice to your life.</h3>
    <p>Think you have personality? This cat has personality. Check out our latest felines.</p>
      </div>
    </div>


  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
