/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome 
 *= require_self
 */

// color theme chosen for this project:
// https://color.adobe.com/neon-pink-teal-color-theme-2231968/

body {
	background: #A9F7EE;
}


.top-nav {
	$navbar-height  : 28px;
	$bgDefault      : #1A1A1A;
	$bgHighlight    : #1A1A1A;
	$colDefault     : #F20587;
	$colHighlight   : #F769B7;
	.navbar-default {
		background-color: $bgDefault;
		border-color: $bgHighlight;
		.navbar-brand {
			color: $colDefault;
			&:hover, &:focus { 
				color: $colHighlight; }}
				.navbar-text {
					color: $colDefault; }
					.navbar-nav {
						> li {
							> a {
								color: $colDefault;
								&:hover,  &:focus {
									color: $colHighlight; }}}
									> .active {
										> a, > a:hover, > a:focus {
											color: $colHighlight;
											background-color: $bgHighlight; }}
											> .open {
												> a, > a:hover, > a:focus {
													color: $colHighlight;
													background-color: $bgHighlight; }}}
													.navbar-toggle {
														border-color: $bgHighlight;
														&:hover, &:focus {
															background-color: $bgHighlight; }
															.icon-bar {
																background-color: $colDefault; }}
																.navbar-collapse,
																.navbar-form {
																	border-color: $colDefault; }
																	.navbar-link {
																		color: $colDefault;
																		&:hover {
																			color: $colHighlight; }}}
																			@media (max-width: 767px) {
																				.navbar-default .navbar-nav .open .dropdown-menu {
																					> li > a {
																						color: $colDefault;
																						&:hover, &:focus {
																							color: $colHighlight; }}
																							> .active {
																								> a, > a:hover, > a:focus, {
																									color: $colHighlight;
																									background-color: $bgHighlight; }}}
																								}

																								.navbar {
																									border-radius: 0 !important;
																									-moz-border-radius: 0 !important;
																								}

																					

}

.title {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #F20587;
	text-align: center;
	width:400px;
	z-index: 3;
}


.header-bar {
	width:100%;
	background: #64CFAE;
}





.bottom-nav {
	$bgDefault      : #006969;
	$bgHighlight    : #4D9696;
	$colDefault     : #FFFF78;
	$colHighlight   : #FFFFE4;
	.navbar-default {
		background-color: $bgDefault;
		border-color: $bgHighlight;
		.navbar-brand {
			color: $colDefault;
			&:hover, &:focus { 
				color: $colHighlight; }}
				.navbar-text {
					color: $colDefault; }
					.navbar-nav {
						> li {
							> a {
								color: $colDefault;
								&:hover,  &:focus {
									color: $colHighlight; }}}
									> .active {
										> a, > a:hover, > a:focus {
											color: $colHighlight;
											background-color: $bgHighlight; }}
											> .open {
												> a, > a:hover, > a:focus {
													color: $colHighlight;
													background-color: $bgHighlight; }}}
													.navbar-toggle {
														border-color: $bgHighlight;
														&:hover, &:focus {
															background-color: $bgHighlight; }
															.icon-bar {
																background-color: $colDefault; }}
																.navbar-collapse,
																.navbar-form {
																	border-color: $colDefault; }
																	.navbar-link {
																		color: $colDefault;
																		&:hover {
																			color: $colHighlight; }}}
																			@media (max-width: 767px) {
																				.navbar-default .navbar-nav .open .dropdown-menu {
																					> li > a {
																						color: $colDefault;
																						&:hover, &:focus {
																							color: $colHighlight; }}
																							> .active {
																								> a, > a:hover, > a:focus, {
																									color: $colHighlight;
																									background-color: $bgHighlight; }}}
																								}

																								.navbar {
																									border-radius: 0 !important;
																									-moz-border-radius: 0 !important;
																								}

																								.title {
																									font-family: 'Bangers', cursive;
																									font-size: 50px;
																									color: #F20587;
																									text-align: center;
																									width:400px;
																									z-index: 3;
																								}


																								.header-bar {
																									width:100%;
																									background: #64CFAE;
																								}
}

