// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.product-box {
  margin: 50px auto 10px auto;
  width: 800px;
}

.ind-product {
  border: 2px solid blue;
  margin: 0px 0px 5px 0px;
}

#add-pet {
  padding: 0px 0px 0px 10px;
}

.navbar {
    margin-bottom: 0;
}

.carousel {

    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}