


<div class="product-box">
  <div class="row">
    <div class="col-md-8"><img src="<%= @product.photo_check %>" class="img-responsive"></div>
    <div class="col-md-4">.col-md-4</div>
  </div>
</div>